:root {
    /* Colors */
  	--color-gray-light: #6b6b6b;
  	--color-gray-dark: #111;
  	--color-white: #fff;
  	--color-yellow: #f4d04e;

  	/* Fonts */
  	--font-figtree: 'Figtree';
    --font-size-text-preset-1: 24px;
    --font-size-text-preset-2: 16px;
    --font-size-text-preset-3: 14px;
    --font-line-height: 150%;

 	/* Border radius */
  	--border-radius-default: 10px;
  	  	
  	/* Spacing */
  	--spacing-50: 4px;
  	--spacing-100: 8px;
  	--spacing-150: 12px;
  	--spacing-200: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-figtree), sans-serif;
    background-color: var(--color-yellow);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: var(--spacing-150);
    height: 100vh;
    padding: 0 10%;
}

.card {
    width: 100%;
    max-width: 384px;
    background-color: var(--color-white);
    padding: var(--spacing-200);
    border: 1px solid var(--color-gray-dark);
    border-radius: var(--border-radius-default);
    box-shadow: 8px 8px 0 #000;
}

.card-header-image {
    display: block;
    width: 100%;
    border-radius: var(--border-radius-default);
}

.card-content {
    margin: var(--spacing-200) 0;
}

.card-content > *:not(:last-child) {
    margin-bottom: var(--spacing-150);
}

.card-tag {
    display: inline-block;
    padding: var(--spacing-50) var(--spacing-150);
    background-color: var(--color-yellow);
    border-radius: 4px;
}

.card-link {
    text-decoration: none;
}

.card-link:hover, 
.card-link:active,
.card-link:focus {
    color: var(--color-yellow);
}

.attribution {
    margin-top: var(--spacing-100);
}

.card-footer {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
}

.card-footer-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.text-preset-1 {
    font-size: var(--font-size-text-preset-1);
    color: var(--color-gray-dark);
    font-weight: 800;
}

.text-preset-2 {
    color: var(--color-gray-light);
    font-size: var(--font-size-text-preset-2);
    line-height: var(--font-line-height);
    font-weight: 500;
}

.text-preset-3  {
    color: var(--color-gray-dark);
    font-size: var(--font-size-text-preset-3);
    line-height: var(--font-line-height);
}

.text-preset-3-bold  {
    font-weight: 800;
}
